<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>员工后台管理</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="/static/admin/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/admin/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="/static/admin/assets/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="/static/admin/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="/static/admin/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/static/admin/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/static/admin/assets/css/sanji.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="/static/admin/assets/js/ace-extra.min.js"></script>
		  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>
<div class="main-content">
<div class="main-content-inner">
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="#">个人管理</a>
	</li>
	<li class="active">申请</li>
</ul><!-- /.breadcrumb -->

<div class="nav-search" id="nav-search">
	<form class="form-search">
		<span class="input-icon">
			<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
			<i class="ace-icon fa fa-search nav-search-icon"></i>
		</span>
	</form>
</div><!-- /.nav-search -->
</div>

<div class="page-content">
<div class="ace-settings-container" id="ace-settings-container">
	<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
		<i class="ace-icon fa fa-cog bigger-130"></i>
	</div>

	<div class="ace-settings-box clearfix" id="ace-settings-box">
		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<div class="pull-left">
					<select id="skin-colorpicker" class="hide">
						<option data-skin="no-skin" value="#438EB9">#438EB9</option>
						<option data-skin="skin-1" value="#222A2D">#222A2D</option>
						<option data-skin="skin-2" value="#C6487E">#C6487E</option>
						<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
					</select>
				</div>
				<span>&nbsp; Choose Skin</span>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
				<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
				<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
				<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
				<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
				<label class="lbl" for="ace-settings-add-container">
					Inside
					<b>.container</b>
				</label>
			</div>
		</div><!-- /.pull-left -->

		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
				<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
				<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
				<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
			</div>
		</div><!-- /.pull-left -->
	</div><!-- /.ace-settings-box -->
</div><!-- /.ace-settings-container -->

<div class="page-header">
	<h1 style="font-size: 20px;font-weight: lighter;color: rgb(38, 121, 181);padding: 0px;margin: 0px 260px 0px;">
		基本信息:
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<form name="form" action="{:url('Shop/save')}" method="post" onsubmit="return check()" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 商铺名称： </label>

				<div class="col-sm-9">
					<input name="shopname"  type="text" id="shopname" placeholder="店铺名称" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 经营项目： </label>

				<div class="col-sm-9">
					<select name="operating" class="col-xs-10 col-sm-5" id="form-field-select-1">
					{volist name="firstcategorys" id="vo"}     
						<option value="{$vo.id}">{$vo.name}</option>
					{/volist}	
					</select>
				</div>
			</div>
		
             <div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 商铺图标： </label>

				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5">
							<div class="widget-box">
								<div class="widget-header">
									<h4 class="widget-title">商铺图片</h4>
									<div class="widget-toolbar">
										<a href="#" data-action="collapse">
											<i class="ace-icon fa fa-chevron-up"></i>
										</a>

										<a href="#" data-action="close">
											<i class="ace-icon fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="widget-body">
									<div class="widget-main">
										<div class="form-group">
											<div class="col-xs-12">
									
选择图像文件：<input type="file" class="file" name="image" id="file"><br/>
<input name="picture" type="hidden" value="" id="picture">
<button onclick="return false;" id='sub'>点击上传</button>
<div id="content"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
				</div>
			</div>
				<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 地区 ：</label>

				
					<div class="col-sm-9">
   

            <!--省份选择-->
            <select name="province" id="prov" onchange="showCity(this)">
                <option value="">=请选择省份=</option>

            </select>

            <!--城市选择-->
            <select name="city" id="city" onchange="showCountry(this)">
                <option value="">=请选择城市=</option>
            </select>
            <!--县区选择-->
            <select name="country" id="country" onchange="selecCountry(this)">
                <option value="">=请选择县区=</option>
            </select>
            <button type="button" class="btn met1" onClick="showAddr()">确定</button>
     
</div>
				
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 地址： </label>

				<div class="col-sm-9">
					<input name="address" type="text" id="addr-show" placeholder="店铺地址" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 联系人： </label>

				<div class="col-sm-9">
					<input name="contant" type="text" id="contant" placeholder="联系人" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 手机： </label>

				<div class="col-sm-9">
					<input name="mobile" type="text" id="mobile" placeholder="手机" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> QQ： </label>

				<div class="col-sm-9">
					<input name="qq" type="text" id="qq" placeholder="qq号" class="col-xs-10 col-sm-5" />
				</div>
			</div>
            <div class="page-header">
				<h1 style="font-size: 20px;font-weight: lighter;color: rgb(38, 121, 181);padding: 0px;margin: 0px 260px 0px;">
					公司信息:
				</h1>
			</div><!-- /.page-header -->

            <div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 公司名称 ：</label>

				<div class="col-sm-9">
					<input name="companyname" type="text" id="companyname" placeholder="公司名称" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 营业执照号码 ：</label>

				<div class="col-sm-9">
					<input name="companylicense" type="text" id="companylicense" placeholder="执照号码" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 营业执照照片 ：</label>

				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-5">
							<div class="widget-box">
								<div class="widget-header">
									<h4 class="widget-title">商铺图片</h4>
									<div class="widget-toolbar">
										<a href="#" data-action="collapse">
											<i class="ace-icon fa fa-chevron-up"></i>
										</a>

										<a href="#" data-action="close">
											<i class="ace-icon fa fa-times"></i>
										</a>
									</div>
								</div>
								<div class="widget-body">
									<div class="widget-main">
										<div class="form-group">
											<div class="col-xs-12">
									
选择图像文件：<input type="file" class="file" name="image" id="file2"><br/>
<input name="companypicture" type="hidden" value="" id="companypicture">
<button onclick="return false;" id='sub2'>点击上传</button>
<div id="content2"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 营业执照地址 ：</label>

				<div class="col-sm-9">
					<input name="companyaddress" type="text" id="companyaddress" placeholder="执照地址" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 法人 ：</label>

				<div class="col-sm-9">
					<input name="companyperson" type="text" id="companyperson" placeholder="法人" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="page-header">
				<h1 style="font-size: 20px;font-weight: lighter;color: rgb(38, 121, 181);padding: 0px;margin: 0px 260px 0px;">
					银行信息:
				</h1>
			</div><!-- /.page-header -->

            <div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 户名 ：</label>

				<div class="col-sm-9">
					<input name="settlementname" type="text" id="settlementname" placeholder="户名" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 银行 ：</label>

				<div class="col-sm-9">
					<input name="settlementbank" type="text" id="settlementbank" placeholder="银行" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开户行 ：</label>

				<div class="col-sm-9">
				<!--省份选择-->
            <select name="settlementprovince" id="prov1" onchange="showCity1(this)">
                <option value="">=请选择省份=</option>

            </select>

            <!--城市选择-->
            <select name="settlementcity" id="city1">
                <option value="">=请选择城市=</option>
            </select>
            
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 网点 ：</label>

				<div class="col-sm-9">
					<input name="settlementbranch" type="text" id="settlementbranch" placeholder="网点" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 账号 ：</label>

				<div class="col-sm-9">
					<input name="settlementnumber" type="text" id="settlementnumber" placeholder="账号" class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<input name="merchantid"  value="{$merchantid}" type="hidden"/>
			
			

			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i>
						提交
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						重置
					</button>
				</div>
			</div>
		<!-- </form> -->
	</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
<script src="/static/admin/assets/liandong/city.js"></script>
<script src="/static/admin/assets/liandong/method01.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script type="text/javascript">
$('#sub').click(function () {
	 // alert("测试");
     ajaxPost();
}) 
function ajaxPost(){
   var formData=new FormData();
   if($('#file')[0].files.length<=0){
   	alert("请选择文件");
   	return;
   }
    formData.append('image',$('#file')[0].files[0]);
    $.ajax({
     type:'post',
     url:"{:url('Shop/picture')}",
     data:formData,
     cache:false,
     processData:false,
     contentType:false,
	  success:function(data){
	  if(data){
	   var html='<img src="'+data.src+'" width="150" height="150">';
	   $('#content').html(html);
	   $('[name=picture]').val(data.src)
	   }else{
	   	alert("上传失败");
	   }

     }
   })
}
$('#sub2').click(function () {
	 // alert("测试");
     ajaxPost2();
}) 
function ajaxPost2(){
   var formData=new FormData();
   if($('#file2')[0].files.length<=0){
   	alert("请选择文件");
   	return;
   }
    formData.append('image',$('#file2')[0].files[0]);
    $.ajax({
     type:'post',
     url:"{:url('Shop/picture2')}",
     data:formData,
     cache:false,
     processData:false,
     contentType:false,
	  success:function(data){
	  if(data){
	   var html='<img src="'+data.src+'" width="280" height="380">';
	   $('#content2').html(html);
	   $('[name=companypicture]').val(data.src)
	   }else{
	   	alert("上传失败");
	   }

     }
   })
}
</script>
<SCRIPT language="JavaScript">  
function check(){
	if(document.form.shopname.value==""){  
         alert("商铺名称不能为空"); 
         $('#shopname').focus();
        return false;  
    } 
    if(document.form.picture.value==""){  
         alert("商铺图片不能为空"); 
         $('#file').focus();
        return false;  
    }   
    if(document.form.province.value==""){  
         alert("商铺省份不能为空"); 
         $('#prov').focus();
        return false;  
    } 
    if(document.form.city.value==""){  
         alert("商铺城市不能为空"); 
         $('#city').focus();
        return false;  
    }  
    if(document.form.country.value==""){  
         alert("商铺区县不能为空"); 
         $('#country').focus();
        return false;  
    } 
    if(document.form.address.value==""){  
         alert("商铺地址不能为空"); 
         $('#addr-show').focus();
        return false;  
    }  
    if(document.form.contant.value==""){  
         alert("商铺联系人不能为空"); 
         $('#contant').focus();
        return false;  
    } 
    if(document.form.mobile.value==""){  
         alert("商铺联系人手机号不能为空"); 
         $('#mobile').focus();
        return false;  
    } 
    if(document.form.companyname.value==""){  
         alert("公司名称不能为空"); 
         $('#companyname').focus();
        return false;  
    } 
    if(document.form.companylicense.value==""){  
         alert("公司执照号码不能为空"); 
         $('#companylicense').focus();
        return false;  
    } 
    if(document.form.companypicture.value==""){  
         alert("公司执照照片不能为空"); 
         $('#file2').focus();
        return false;  
    } 
    if(document.form.companyaddress.value==""){  
         alert("公司地址不能为空"); 
         $('#companyaddress').focus();
        return false;  
    } 
    if(document.form.contant.value==""){  
         alert("商铺联系人不能为空"); 
         $('#contant').focus();
        return false;  
    } 
    if(document.form.companyperson.value==""){  
         alert("公司法人不能为空"); 
         $('#companyperson').focus();
        return false;  
    }  
    if(document.form.settlementname.value==""){  
         alert("账户不能为空"); 
         $('#settlementname').focus();
        return false;  
    }  
    if(document.form.settlementbank.value==""){  
         alert("银行不能为空"); 
         $('#settlementbank').focus();
        return false;  
    }  
    if(document.form.settlementprovince.value==""){  
         alert("开户行省份不能为空"); 
         $('#prov1').focus();
        return false;  
    }  
    if(document.form.settlementcity.value==""){  
         alert("开户行城市不能为空"); 
         $('#city1').focus();
        return false;  
    }  
    if(document.form.settlementbranch.value==""){  
         alert("开户行网点不能为空"); 
         $('#settlementbranch').focus();
        return false;  
    }  
     if(document.form.settlementnumber.value==""){  
         alert("开户账号不能为空"); 
         $('#settlementnumber').focus();
        return false;  
    }  
    return true;  
} 
</SCRIPT>