<!DOCTYPE html>
<html>
{include file="public/head" /}
	<body>
		<!--头 -->
		{include file="public/header" /}
		{include file="public/nav" /}
		
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="wrap-left">
						<div class="wrap-list">
							<div class="m-user">
								<!--个人信息 -->

<!--								<div class="m-userinfo">-->
<!--									-->
<!--									<div class="m-baseinfo">-->
<!--										<a class="m-pic" href="information.html">-->
<!--											<img src="/static/index/images/getAvatar.do.jpg">-->
<!--										</a>-->
<!--										<div class="m-info">-->
<!--											<em class="s-name">小叮当</em>-->
<!--											-->
<!--											-->
<!--											<div class="m-address">-->
<!--												<a href="address.html" class="i-trigger">收货地址<i class="am-icon-angle-right" style="padding-left:5px ;"></i></a>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--									<div class="m-right">-->
<!--										<div class="m-new">-->
<!--											<a href="news.html"><i class="am-icon-dropbox  am-icon-md" style="padding-right:5px ;"></i>消息盒子</a>-->
<!--										</div>-->

<!--									</div>-->
<!--								</div>-->
							</div>
							<div class="box-container-bottom"></div>

							<!--订单 -->
							<div class="m-order">
								<div class="s-bar">
									<i class="s-icon"></i>我的订单
									<a class="i-load-more-item-shadow" href="order.html">全部订单</a>
								</div>
								<ul>
									<li><a href="order.html"><i><img src="/static/index/images/pay.png"/></i><span>待付款</span></a></li>
									<li><a href="order.html"><i><img src="/static/index/images/send.png"/></i><span>待发货<em class="m-num">1</em></span></a></li>
									<li><a href="order.html"><i><img src="/static/index/images/receive.png"/></i><span>待收货</span></a></li>
									<li><a href="order.html"><i><img src="/static/index/images/comment.png"/></i><span>待评价<em class="m-num">3</em></span></a></li>
									<li><a href="change.html"><i><img src="/static/index/images/refund.png"/></i><span>退换货</span></a></li>
								</ul>
								<div class="orderContentBox">
									<div class="orderContent">
										<div class="orderContentpic">
											<div class="imgBox">
												<a href="orderinfo.html"><img src="/static/index/images/youzi.jpg"></a>
											</div>
										</div>
										<div class="detailContent">
											<a href="orderinfo.html" class="delivery">签收</a>
											<div class="orderID">
												<span class="time">2016-03-09</span>
												<span class="splitBorder">|</span>
												<span class="time">21:52:47</span>
											</div>
											<div class="orderID">
												<span class="num">共1件商品</span>
											</div>
										</div>
										<div class="state">待评价</div>
										<div class="price"><span class="sym">¥</span>23.<span class="sym">80</span></div>

									</div>
									<a href="javascript:void(0);" class="btnPay">再次购买</a>
								</div>

								<div class="orderContentBox">
									<div class="orderContent">
										<div class="orderContentpic">
											<div class="imgBox">
												<a href="orderinfo.html"><img src="../images/heart.jpg"></a>
											</div>
										</div>
										<div class="detailContent">
											<a href="orderinfo.html" class="delivery">派件</a>
											<div class="orderID">
												<span class="time">2016-03-09</span>
												<span class="splitBorder">|</span>
												<span class="time">21:52:47</span>
											</div>
											<div class="orderID">
												<span class="num">共2件商品</span>
											</div>
										</div>
										<div class="state">已发货</div>
										<div class="price"><span class="sym">¥</span>246.<span class="sym">50</span></div>

									</div>
									<a href="javascript:void(0);" class="btnPay">再次购买</a>
								</div>
							</div>
							<!--九宫格-->
							<div class="user-squaredIcon">
								<div class="s-bar">
									<i class="s-icon"></i>我的常用
								</div>
								<ul>
									<a href="order.html">
										<li class="am-u-sm-4"><i class="am-icon-truck am-icon-md"></i>
											<p>物流查询</p>
										</li>
									</a>
									<a href="collection.html">
										<li class="am-u-sm-4"><i class="am-icon-heart am-icon-md"></i>
											<p>我的收藏</p>
										</li>
									</a>
									<a href="foot.html">
										<li class="am-u-sm-4"><i class="am-icon-paw am-icon-md"></i>
											<p>我的足迹</p>
										</li>
									</a>
									<a href="#">
										<li class="am-u-sm-4"><i class="am-icon-gift am-icon-md"></i>
											<p>为你推荐</p>
										</li>
									</a>
									<a href="blog.html">
										<li class="am-u-sm-4"><i class="am-icon-share-alt am-icon-md"></i>
											<p>我的分享</p>
										</li>
									</a>
									<a href="../home/home2.html">
										<li class="am-u-sm-4"><i class="am-icon-clock-o am-icon-md"></i>
											<p>限时活动</p>
										</li>
									</a>

								</ul>
							</div>

							<div class="user-suggestion">
								<div class="s-bar">
									<i class="s-icon"></i>会员中心
								</div>
								<div class="s-bar">
									<a href="suggest.html"><i class="s-icon"></i>意见反馈</a>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap-right">

						<!-- 日历-->
<!--						<div class="day-list">-->
<!--							<div class="s-title">-->
<!--								插件位置-->
<!--							</div>-->
<!--							<div class="s-box">-->
<!--								<ul>-->

<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->
						<!--新品 -->
<!--						<div class="new-goods">-->
<!--							<div class="s-bar">-->
<!--								<i class="s-icon"></i>今日新品-->
<!--								<a class="i-load-more-item-shadow">15款新品</a>-->
<!--							</div>-->
<!--							<div class="new-goods-info">-->
<!--								<a class="shop-info" href="#">-->
<!--									<div class="face-img-panel">-->
<!--										<img src="../images/imgsearch1.jpg" alt="">-->
<!--									</div>-->
<!--									<span class="new-goods-num ">4</span>-->
<!--									<span class="shop-title">剥壳松子</span>-->
<!--								</a>-->
<!--								<a class="follow">收藏</a>-->
<!--							</div>-->
<!--						</div>						-->

						<!--热卖推荐 -->
<!--						<div class="new-goods">-->
<!--							<div class="s-bar">-->
<!--								<i class="s-icon"></i>热卖推荐-->
<!--							</div>-->
<!--							<div class="new-goods-info">-->
<!--								<a class="shop-info" href="#" target="_blank">-->
<!--									<div >-->
<!--										<img src="../images/666.jpg" alt="">-->
<!--									</div>-->
<!--                                    <span class="one-hot-goods">￥189.60</span>-->
<!--								</a>-->
<!--							</div>-->
<!--						</div>						-->
     				</div>
     				<div class="clear"></div>
     				
     				<!--收藏和足迹-->
     				 <div data-am-widget="tabs" class="am-tabs collection">
                         <ul class="am-tabs-nav am-cf">
                         	<li class="am-active"><a href="[data-tab-panel-0]"><i class="am-icon-heart"></i>商品收藏</a></li>
                        </ul>
                        <div class="am-tabs-bd">

                            <div data-tab-panel-0 class="am-tab-panel am-active">
                        		<div class="am-slider am-slider-default am-slider-carousel" data-am-flexslider="{itemWidth:155,slideshow: false}">
									<ul class="am-slides">
                                       <li>
                                       	  <a><img class="am-thumbnail" src="/static/client/images/EZA27501.jpg" /></a>
                                       	  <strong class="price">¥32.9</strong>
                                       </li>
									</ul>
								</div>
                            </div>
                        </div>
                     </div>


				</div>
				<!--底部-->
				{include file="public/footer" /}
			</div>
           {include file="public/menu" /}
		</div>
		<!--引导 -->
		<div class="navCir">
			<li><a href="../home/home2.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="../home/sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li><a href="../home/shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
			<li class="active"><a href="index.html"><i class="am-icon-user"></i>我的</a></li>
		</div>
	</body>
</html>
<!-- weather -->
<script type="text/javascript">
	WIDGET = {FID: 'qKJkn7WmR8'}
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>