<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>搜索页面</title>

	<link href="/static/index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
	<link href="/static/index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

	<link href="/static/index/basic/css/demo.css" rel="stylesheet" type="text/css" />

	<link href="/static/index/css/seastyle.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="/static/index/basic/js/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/static/index/js/script.js"></script>
</head>

<body>
<!--顶部导航条 -->
{include file="public/header" /}
<!--悬浮搜索框-->
{include file="public/nav" /}
<div class="clear"></div>
<b class="line"></b>
<div class="search">
	<div class="search-list">
		{include file="public/navtable" /}	
		<div class="am-g am-g-fixed">
			<div class="am-u-sm-12 am-u-md-12">
          	    <div class="theme-popover">							
					<ul class="select">
							<li class="select-list">
								<dl id="select1">
									<dt class="am-badge am-round">类别</dt>	
								
									 <div class="dd-conent">										
										<dd><a href="{:url('Search/productcategory',['se_category_id'=>$se_category_id])}">{$se_category_id|categoryname}</a></dd>
										{volist name=":categorysmall($se_category_id)" id="vo2"}
										<dd class="select-all {if $categorysmall_id==$vo2.id}selected{/if}"><a href="{:url('Search/productsmallcategory',['categorysmall_id'=>$vo2.id,'se_category_id'=>$se_category_id])}">{$vo2.name}</a></dd>
										{/volist}
									 </div>
					
								</dl>
							</li>
					</ul>
					<div class="clear"></div>
                </div>
				<div class="search-content">
					<div class="sort">
						<li class="first"><a title="综合">综合排序</a></li>
						<li><a title="销量">销量排序</a></li>
						<li><a title="价格">价格优先</a></li>
						<li class="big"><a title="评价" href="#">评价为主</a></li>
					</div>
					<div class="clear"></div>
					<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
					{volist name="products" id="vo"}
						<li>
							<div class="i-pic limit">
							<a href="{:url('Introduction/index',['id'=>$vo.id])}">
								<img src="{$vo.id|productpicture}" />		
							</a>									
								<p class="title fl">{$vo.name|subtext=10}</p>
								<p class="price fl">
									<b>¥</b>
									<strong>{$vo.price}</strong>
								</p>
								<p class="number fl">
									销量<span>{$vo.buy_count}</span>
								</p>
							</div>
						</li>
					{/volist}
					</ul>
				</div>
<!--				<div class="search-side">-->
<!--					<div class="side-title">-->
<!--						经典搭配-->
<!--					</div>-->
<!--					<li>-->
<!--						<div class="i-pic check">-->
<!--							<img src="../images/cp.jpg" />-->
<!--							<p class="check-title">萨拉米 1+1小鸡腿</p>-->
<!--							<p class="price fl">-->
<!--								<b>¥</b>-->
<!--								<strong>29.90</strong>-->
<!--							</p>-->
<!--							<p class="number fl">-->
<!--								销量<span>1110</span>-->
<!--							</p>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="i-pic check">-->
<!--							<img src="../images/cp2.jpg" />-->
<!--							<p class="check-title">ZEK 原味海苔</p>-->
<!--							<p class="price fl">-->
<!--								<b>¥</b>-->
<!--								<strong>8.90</strong>-->
<!--							</p>-->
<!--							<p class="number fl">-->
<!--								销量<span>1110</span>-->
<!--							</p>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="i-pic check">-->
<!--							<img src="../images/cp.jpg" />-->
<!--							<p class="check-title">萨拉米 1+1小鸡腿</p>-->
<!--							<p class="price fl">-->
<!--								<b>¥</b>-->
<!--								<strong>29.90</strong>-->
<!--							</p>-->
<!--							<p class="number fl">-->
<!--								销量<span>1110</span>-->
<!--							</p>-->
<!--						</div>-->
<!--					</li>-->
<!--				</div>-->
				<div class="clear"></div>
					<!--分页 -->
					<ul class="am-pagination am-pagination-right">
						<li class="am-disabled"><a href="#">&laquo;</a></li>
						<li class="am-active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
				</div>
				{include file="public/footer" /}
			</div>

		</div>

	<!--引导 -->
{include file="public/navcir" /}

	<!--菜单 -->
{include file="public/tip" /}
	<script>
		window.jQuery || document.write('<script src="basic/js/jquery-1.9.min.js"><\/script>');
	</script>
	<script type="text/javascript" src="../basic/js/quick_links.js"></script>

<div class="theme-popover-mask"></div>

</body>

</html>