  {include file="public/header" /}
<div class="main-content">
<div class="main-content-inner">
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="#">商品管理</a>
	</li>
	<li class="active">商品列表</li>
</ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
<div class="ace-settings-container" id="ace-settings-container">
	<div class="ace-settings-box clearfix" id="ace-settings-box">
		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<div class="pull-left">
					<select id="skin-colorpicker" class="hide">
						<option data-skin="no-skin" value="#438EB9">#438EB9</option>
						<option data-skin="skin-1" value="#222A2D">#222A2D</option>
						<option data-skin="skin-2" value="#C6487E">#C6487E</option>
						<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
					</select>
				</div>
				<span>&nbsp; Choose Skin</span>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
				<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
				<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
				<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
				<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
				<label class="lbl" for="ace-settings-add-container">
					Inside
					<b>.container</b>
				</label>
			</div>
		</div><!-- /.pull-left -->

		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
				<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
				<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
				<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
			</div>
		</div><!-- /.pull-left -->
	</div><!-- /.ace-settings-box -->
</div><!-- /.ace-settings-container -->

<div class="page-header">
	<h1>
		商品管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			商品列表
		</small>
	</h1>
</div><!-- /.page-header -->
<hr />
<div class="row">
    <div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="name">商品名称</label>
<!--				input函数获取用户输入的文本，没有写action直接递交给Product/index-->
                <input name="name" type="text" class="form-control" placeholder="商品名称..." value="{:input('get.name')}">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
</div>
<hr />
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<th class="detail-col">ID</th>
							<th>商品名称</th>
							<th>图片</th>
							<th>排序</th>
							<th class="hidden-480">创建日期</th>

							<th>
								<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
								更新日期
							</th>
							<th class="hidden-480">状态</th>

							<th>操作</th>
						</tr>
					</thead>

					<tbody>
					{volist name="list" id="vo"}
						<tr>
							<td class="center">
								<div class="action-buttons">
										{$vo.id}

								</div>
							</td>

							<td>
<!--								 <a href="{:url('product/info',['id'=>$vo.id])}" target="content"></a>-->
								{$vo.name}
							</td>
							<td>
								 <img src="{$vo.id|productpicture}" alt="" width="50" height="50">
							</td>
							<td>
								<input size="3" attr-id="{$vo.id}" name="order" value="{$vo.order}" style="text-align:center"/>
							</td>
							<td class="hidden-480">{$vo.create_time}</td>
							<td>{$vo.update_time}</td>

							<td class="hidden-480"><span class="label label-sm label-warning">{$vo.status|status}</span>
								
							</td>
                 
							<td>
								<div class="hidden-sm hidden-xs btn-group">
								   
                                    <a href="{:url('Product/pass',['id'=>$vo.id])}" target="content">
									<button class="btn btn-success">通过</button>
									</a>
                                    <a href="{:url('Product/nopass',['id'=>$vo.id])}" target="content">
									<button class="btn btn-danger">不通过</button>
                                    </a>
                                     <a href="{:url('Product/recommend',['id'=>$vo.id])}" target="content">
									<button class="btn btn-success">推荐</button>
									</a>
									<input type="hidden" id="pid" value="{$vo.id}">
									<a href="" target="content">
									<button class="btn btn-danger" onclick="doDel({$vo.id})">删除</button>
                                    </a>

									<script type="text/javascript">
										function doDel(id){
											if(confirm("确定要删除数据吗？")){
												console.log(id);
												$.ajax({
													type:'post',
													//数据传输方式
													url:"{:url('Ad/testdelete')}",
													//传输路径
													data:{
														id:id
													},success:function(data){
														var data = JSON.parse(data);
														if(data.code==1){
															alert(id+data.message);
															window.location.reload();
														}else{
															alert(id+data.message);
															window.location.reload();
														}
													}

												})

											}
										}
									</script>
								<div class="hidden-md hidden-lg">
									<div class="inline pos-rel">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
											<li>
												<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
													<span class="blue">
														<i class="ace-icon fa fa-search-plus bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
													<span class="green">
														<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
                         {/volist}
					</tbody>
				</table>
				{$list|raw}
			</div><!-- /.span -->
			
		</div><!-- /.row -->
		<div class="hr hr-18 dotted hr-double"></div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script>
$('input').blur(function(){
	//取值id
	var id=$(this).attr('attr-id'); //返回被选元素的属性值，这里时input
	  // alert(id);商品的id
	  //获取排序的值
	var order=$(this).val();
	// alert(order);
	var postData={
	      'id':id,
	      'order':order,
	      'controller':'Product'
	     };
	var url="{:url('listorder')}";
	$.post(url,postData,function(result){
      if(result.code==1){
      	location.href=result.url;
      }else{
      	alert(result.msg);
      }
	})
})
</script>

