<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

	<title>个人中心</title>
	<link rel="stylesheet" href="/static/index/css/logostyle.css"
	<link href="/static/client/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
	<link href="/static/client/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
	<link href="/static/client/css/personal.css" rel="stylesheet" type="text/css">
	<link href="/static/client/css/vipstyle.css" rel="stylesheet" type="text/css">
	<script src="/static/client/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
	<script src="/static/client/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
</head>