<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

	<title>客户登录</title>
	<link rel="stylesheet" href="/static/index/AmazeUI-2.4.2/assets/css/amazeui.min.css" />
	<link href="/static/index/css/dlstylea.css" rel="stylesheet" type="text/css">
	<script src="/static/index/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
	<script src="/static/index/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>

	<link href="/static/index/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
	<link href="/static/index/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

	<link href="/static/index/css/personal.css" rel="stylesheet" type="text/css">


	<script src="/static/index/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
	<script src="/static/index/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
<style type="text/css">
       .input{
	   border-color:#FF0000;
	   border-style:solid;
	   }
     </style>
</head>

<body>
	<!--头 -->
<header>
<article>
	<div class="mt-logo">
		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-l">
				<div class="topMessage">
					<div class="menu-hd">
						<a href="#" target="_top" class="h">亲，请登录</a>
						<a href="#" target="_top">免费注册</a>
					</div>
				</div>
			</ul>
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
				</div>
				<div class="topMessage my-shangcheng">
					<div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
				</div>
				<div class="topMessage mini-cart">
					<div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
				</div>
				<div class="topMessage favorite">
					<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
				</div>
			</ul>
		</div>

			<!--悬浮搜索框-->

		<div class="nav white">
			<div class="logoBig">
				<li><img src="/static/index/images/vivo_logo.jpg" /></li>
			</div>

			<div class="search-bar pr">
				<a name="index_none_header_sysc" href="#"></a>
				<form>
					<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
					<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
				</form>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</article>
</header>
<hr/>	
<div class="res-banner21">
	<div class="res-main1">
		<div class="login-box81">
			<div class="am-tabs">
				<div class="am-tabs-bd">
					<div class="am-tab-panel am-active">
					   	<form name="form" onsubmit="return check()" action="{:url('Loginc/doLogin')}" method="post" >						
				        <div class="user-email">
							 <div class="account1">登录</div> 
                        </div>
                         <div class="user-email">
							<label for="account">登录账号：</label>
							<input type="text" name="account" value="{$Think.cookie.account}" id="account" placeholder="会员名/手机号/邮箱">
                        </div>	
                         <div class="user-email">
							<label for="password">密码登录：</label>
							<input type="password" name="password"  value="{$Think.cookie.password}" id="password" placeholder="登录密码">
                        </div>	
                         <div class="user-email">
							<label for="code">验证码：</label>
							<input type="text" name="code" id="code" placeholder="请输入验证码">
                        </div>	
                        <div class="user-email">
							<label for="code"></label>
							<img src="{:captcha_src()}" alt="验证码" onclick="this.src='{:captcha_src()}?seed='+Math.random()" />
                        </div>	
                        <div class="login-links">
						       <div class="reader">
									<input id="reader-me" name="keep" value="1" type="checkbox" class="reader-me" checked="true"> 记住密码
								</div>
					  	</div>
						<div class="user-email">
						<label for="email"></label>
							<input type="submit" name="" value="登录" class="am-btn am-btn-primary am-btn-sm am-fl">
						</div>
                        </form>
					</div>
					<script>
						$(function() {
						    $('#doc-my-tabs').tabs();
						  })
					</script>
				</div>
			</div>
		</div>
	</div>
		
		<!--底部-->
	<div class="footer">
			<p>
				<em>© Vivo 版权所有</em>
			</p>
	</div>
</div>

<<SCRIPT language="JavaScript">
function check(){
	if(document.form.password.value==""){
         alert("密码不能为空");
         $('#password').focus();
        return false;
    }
    if(document.form.passwordchek.value==1){
         alert("密码不一致");
         $('#password').focus();
        return false;
    }
    if(document.form.mobile.value==""){
         alert("手机号不能为空");
         $('#mobile').focus();
        return false;
    }
    if(document.form.mobilechek.value==1){
         alert("手机号错误");
         $('#mobile').focus();
        return false;
    }
    if(document.form.mobilecode.value==""){
         alert("手机号验证码不能为空");
         $('#mobilecode').focus();
        return false;
    }
    if(document.form.mobilecodechek.value==1){
         alert("手机号验证码错误");
         $('#mobilecode').focus();
        return false;
    }
    if(document.form.accountname.value==""){
         alert("会员名不能为空");
         $('#accountname').focus();
        return false;
    }
    if(document.form.accountnamechek.value==1){
         alert("会员名有误");
         $('#accountname').focus();
        return false;
    }
    return true;
}
</SCRIPT> -->
</body>
</html>