<div class="am-container activity ">
	<div class="shopTitle ">
		<h4>活动</h4>
		<h3>每期活动 优惠享不停 </h3>
		<span class="more ">
          <a href="# ">全部活动<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
    </span>
	</div>
    <div class="am-g am-g-fixed ">
    {volist name="productactivity" id="vo"}
		<div class="am-u-sm-3 ">
			<div class="icon-sale one"></div>
			<div class="activityMain ">
			<a href="{:url('Introduction/index',['id'=>$vo.product_id])}">
				<img src="{$vo.product_id|productpicture}"></img>
			</a>
			</div>
			<div class="info ">
				<h3>{$vo.product_id|productname}</h3>
			</div>														
		</div>
	{/volist}
    </div>
</div>