<!--<div class="am-g am-g-fixed smallnav">-->
<!--	<div class="am-u-sm-3">-->
<!--		<a href="sort.html"><img src="/static/index/images/navsmall.jpg" />-->
<!--			<div class="title">商品分类</div>-->
<!--		</a>-->
<!--	</div>-->
<!--	<div class="am-u-sm-3">-->
<!--		<a href="#"><img src="/static/index/images/huismall.jpg" />-->
<!--			<div class="title">大聚惠</div>-->
<!--		</a>-->
<!--	</div>-->
<!--	<div class="am-u-sm-3">-->
<!--		<a href="#"><img src="/static/index/images/mansmall.jpg" />-->
<!--			<div class="title">个人中心</div>-->
<!--		</a>-->
<!--	</div>-->
<!--	<div class="am-u-sm-3">-->
<!--		<a href="#"><img src="/static/index/images/moneysmall.jpg" />-->
<!--			<div class="title">投资理财</div>-->
<!--		</a>-->
<!--	</div>-->
<!--</div>-->