<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

<title>我的收藏</title>

<link href="/static/client/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="/static/client/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

<link href="/static/client/css/personal.css" rel="stylesheet" type="text/css">
<link href="/static/client/css/colstyle.css" rel="stylesheet" type="text/css">

</head>

<body>
<!--头 -->
{include file="public/header" /}
{include file="public/nav" /}
<b class="line"></b>
<div class="center">
<div class="col-main">
<div class="main-wrap">

	<div class="user-collection">
		<!--标题 -->
		<div class="am-cf am-padding">
			<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的收藏</strong> / <small>My&nbsp;Collection</small></div>
		</div>
		<hr/>

		<div class="you-like">
			<div class="s-bar">
				我的收藏
				<a class="am-badge am-badge-danger am-round"></a>
				<a class="am-badge am-badge-danger am-round"></a>
			</div>
			<div class="s-content">
			{volist name="products" id="vo"}
			{in name="$vo.id" value="$collections"}
				<div class="s-item-wrap">
					<div class="s-item">

						<div class="s-pic">
							<a href="#" class="s-pic-link">
								<img src="{$vo.id|productpicture}" alt="{$vo.name}" class="s-pic-img s-guess-item-img">
							</a>
						</div>
						<div class="s-info">
							<div class="s-title"><a href="#" title="{$vo.name}">{$vo.name}</a></div>
							<div class="s-price-box">
								<span class="s-price"><em class="s-price-sign">¥</em><em class="s-value">{$vo.price}</em></span>
								<span class="s-history-price"><em class="s-price-sign">¥</em><em class="s-value">{$vo.rebate_price}</em></span>
							</div>
							<div class="s-extra-box">
								<span class="s-sales">月销: 219</span>
							</div>
						</div>
						<div class="s-tp">
							<span class="ui-btn-loading-before"></span>
							<i class="am-icon-shopping-cart"></i>
							<span class="ui-btn-loading-before buy"></span>
							<p>
								<a href="javascript:;" class="c-nodo J_delFav_btn">取消收藏</a>
							</p>
						</div>
					</div>
				</div>
			{/in}
            {/volist}
	

			</div>

			<div class="s-more-btn i-load-more-item" data-screen="0"><i class="am-icon-refresh am-icon-fw"></i>更多</div>

		</div>

	</div>

</div>
<!--底部-->
{include file="public/footer" /}
</div>
{include file="public/menu" /}
</div>

</body>

</html>