<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人资料</title>

		<link href="/static/client/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="/static/client/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="/static/client/css/personal.css" rel="stylesheet" type="text/css">
		<link href="/static/client/css/infstyle.css" rel="stylesheet" type="text/css">
		<script src="/static/client/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="/static/client/AmazeUI-2.4.2/assets/js/amazeui.js"></script>			
	</head>
	<style>
		#content img{
			border-radius: 80%;
			margin-left: 200px;
		}
	</style>
	<body>
		<!--头 -->
		{include file="public/header" /}
		{include file="public/nav" /}
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-info">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
						</div>
						<hr/>
						<!--头像 -->
						<div class="user-infoPic">
							<div class="filePic">
								<input type="file" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*">
								<img class="am-circle am-img-thumbnail" src="{$info.headpicture}" alt="" />
							</div>
							<p class="am-form-help">头像</p>

						</div>
						<div id="content"></div>
						<!--个人信息 -->
						<div class="info-main">
							<form action="{:url('personal/editsave')}" method="post" class="am-form am-form-horizontal">
								<div class="am-form-group">
									<label for="user-name" class="am-form-label">头像</label>
									<div class="am-form-content">
										<input type="file" name="image" value="" id="file">
										<input type="hidden" name="picture" id="picture">
										<button onclick="return false;" id="sub">上传头像</button>
									</div>

								</div>
								<div class="am-form-group">
									<label for="user-name2" class="am-form-label">昵称</label>
									<div class="am-form-content">
										<input type="text" name="nicename" value="{$info.nicename}" id="user-name2" placeholder="请输入你的昵称">
                                          <small>昵称长度不能超过40个汉字</small>
									</div>
								</div>

								<div class="am-form-group">
									<label for="user-name" class="am-form-label">姓名</label>
									<div class="am-form-content">
										<input type="text" name="name" value="{$info.name}" id="user-name2" placeholder="请输入你的姓名">
									</div>
								</div>
								<div class="am-form-group">
									<label for="user-phone" class="am-form-label">电话</label>
									<div class="am-form-content">
										<input name="mobile" value="{$info.mobile}" id="user-phone" placeholder="请输入电话" type="tel">

									</div>
								</div>
								<div class="am-form-group">
									<label for="user-phone" class="am-form-label">QQ</label>
									<div class="am-form-content">
										<input name="qq" value="{$info.qq}" id="user-phone" placeholder="请输入QQ" type="tel">

									</div>
								</div>
								<div class="am-form-group">
									<label for="user-email" class="am-form-label">电子邮件</label>
									<div class="am-form-content">
										<input name="email" value="{$info.email}" id="user-email" placeholder="请输入你的邮箱" type="email">

									</div>
								</div>
								 <input name="id" value="{$info.id}" type="hidden"/>
								<div class="info-btn">
									<button type="submit" class="am-btn am-btn-danger">确认修改</button>
								</div>
							</form>
						</div>

					</div>

				</div>
				<!--底部-->
				{include file="public/footer" /}
			</div>
			 {include file="public/menu" /}
		</div>

	</body>

</html>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script>
	$('#sub').click(function () {
		// alert("测试");
		ajaxPost();
	})
	function ajaxPost(){
		var formData=new FormData();
		if($('#file')[0].files.length<=0){
			alert("请选择文件");
			return;
		}
		formData.append('image',$('#file')[0].files[0]);
		$.ajax({
			type:'post',
			url:"{:url('Personal/picture')}",
			data:formData,
			cache:false,
			processData:false,
			contentType:false,
			success:function(data){
				if(data){
					var html='<img src="'+data.src+'" width="480" height="135">';
					$('#content').html(html);
					$('[name=picture]').val(data.src)
				}else{
					alert("上传失败");
				}

			}
		})
	}
</script>