<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

<title>订单管理</title>

<link href="/static/client/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
<link href="/static/client/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

<link href="/static/client/css/personal.css" rel="stylesheet" type="text/css">
<link href="/static/client/css/orstyle.css" rel="stylesheet" type="text/css">

<script src="/static/client/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
<script src="/static/client/AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body>
{include file="public/header" /}
{include file="public/nav" /}
<b class="line"></b>
<div class="center">
<div class="col-main">
<div class="main-wrap">
<div class="user-order">
	<!--标题 -->
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
	</div>
	<hr/>

	<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

		<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
			<li class="am-active"><a href="#tab1">所有订单</a></li>
			<li><a href="#tab2">待付款</a></li>
			<li><a href="#tab3">待发货</a></li>
			<li><a href="#tab4">待收货</a></li>
			<li><a href="#tab5">待评价</a></li>
		</ul>

		<div class="am-tabs-bd">
			<div class="am-tab-panel am-fade am-in am-active" id="tab1">
				<div class="order-top">
					<div class="th th-item">
						<td class="td-inner">商品</td>
					</div>
					<div class="th th-price">
						<td class="td-inner">单价</td>
					</div>
					<div class="th th-number">
						<td class="td-inner">数量</td>
					</div>
					<div class="th th-operation">
						<td class="td-inner">商品操作</td>
					</div>
					<div class="th th-amount">
						<td class="td-inner">合计</td>
					</div>
					<div class="th th-status">
						<td class="td-inner">交易状态</td>
					</div>
					<div class="th th-change">
						<td class="td-inner">交易操作</td>
					</div>
				</div>

				<div class="order-main">
					<div class="order-list">
						{volist name="order" id="vo"}
						{if $vo.pay_status==0}
						<!--未付款的订单-->
						<div class="order-status5">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">{$vo.out_trade_no}</a></div>
								<span>成交时间：{$vo.create_time}</span>
							</div>
							<div class="order-content">
								<div class="order-left">
								{volist name=":order($vo.merchant_id,$vo.out_trade_no)" id="vo2"}
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													<img src="{$vo2.product_id|productpicture}" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p>{$vo2.product_id|productname}</p>
														<p class="info-little">
<!--															这里不用-->
								{volist name=":orderformsalesattributevaluename($vo2.attributes,$vo2.id)" id="vo3"}
								 {$vo3.sales_attribute_value_id|orderformsalesattributename}：
                                 {$vo3.sales_attribute_value_id|salesattributevaluename};
                                 <br/>
								{/volist}

														</p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												{$vo2.price}
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>{$vo2.buy_count}
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">

											</div>
										</li>
									</ul>
                                    {/volist}
								</div>
<!--								没有给钱-->
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：{$vo.price}
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">等待买家付款</p>
												<p class="order-info"><a href="#">取消订单</a></p>
											</div>
										</li>
										<li class="td td-change">
											<a href="pay.html">
											<div class="am-btn am-btn-danger anniu">
												一键支付</div></a>
										</li>
									</div>
								</div>
							</div>
						</div>
									
						{elseif ($vo.pay_status==1) AND ($vo.logistics_status==0)/}
						<!--待发货-->
						<div class="order-status2">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">{$vo.out_trade_no}</a></div>
<!--								<span>商家：{$vo.merchant_id|merchantname}</span>-->
								<span>成交时间：{$vo.create_time}</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
								{volist name=":order($vo.merchant_id,$vo.out_trade_no)" id="vo2"}
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													<img src="{$vo2.product_id|productpicture}" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p>{$vo2.product_id|productname}</p>
														<p class="info-little">{volist name=":orderformsalesattributevaluename($vo2.attributes,$vo2.id)" id="vo3"}
								 {$vo3.sales_attribute_value_id|orderformsalesattributename}：
                                 {$vo3.sales_attribute_value_id|salesattributevaluename};
                                 <br/>
								{/volist}</p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												{$vo2.price}
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>{$vo2.buy_count}
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="{:url('Personal/refund',['id'=>$vo2.id])}">退款</a>
											</div>
										</li>
									</ul>
								{/volist}
								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：{$vo.price}
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">买家已付款</p>
												<p class="order-info"><a href="{:url('Personal/orderinfo',['merchant_id'=>$vo.merchant_id,'out_trade_no'=>$vo.out_trade_no])}">订单详情</a></p>
											</div>
										</li>
										<li class="td td-change">
											<div class="am-btn am-btn-danger anniu">
												提醒发货</div>
										</li>
									</div>
								</div>
							</div>
						</div>
                       {elseif ($vo.pay_status==1) AND ($vo.logistics_status==1)/}
						<!--不同状态订单-->
						<div class="order-status3">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">{$vo.out_trade_no}</a></div>
<!--								<span>商家：{$vo.merchant_id|merchantname}</span>-->
								<span>成交时间：{$vo.create_time}</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
								{volist name=":order($vo.merchant_id,$vo.out_trade_no)" id="vo2"}
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													<img src="{$vo2.product_id|productpicture}" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p>{$vo2.product_id|productname}</p>
														<p class="info-little">{volist name=":orderformsalesattributevaluename($vo2.attributes,$vo2.id)" id="vo3"}
								 {$vo3.sales_attribute_value_id|orderformsalesattributename}：
                                 {$vo3.sales_attribute_value_id|salesattributevaluename};
                                 <br/>
								{/volist}</p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												{$vo2.price}
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>{$vo2.buy_count}
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="{:url('Personal/refund',['id'=>$vo2.id])}">退款/退货</a>
											</div>
										</li>
									</ul>
								{/volist}

								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：{$vo.price}
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">卖家已发货</p>
												<p class="order-info"><a href="{:url('Personal/orderinfo',['merchant_id'=>$vo.merchant_id,'out_trade_no'=>$vo.out_trade_no])}">订单详情</a></p>
												<p class="order-info">
												<a href="https://www.kuaidi100.com/chaxun?com={:getlogistics1($vo.out_trade_no,$vo.merchant_id)}&nu={:getlogistics2($vo.out_trade_no,$vo.merchant_id)}" target="content">查看物流</a>
												</p>
												<p class="order-info"><a href="#">延长收货</a></p>
											</div>
										</li>
										<li class="td td-change">
										<a href="{:url('Personal/receipt',['merchant_id'=>$vo.merchant_id,'out_trade_no'=>$vo.out_trade_no])}">
											<div class="am-btn am-btn-danger anniu">
												确认收货</div>
												</a>
										</li>
									</div>
								</div>
							</div>

						</div>
						 {elseif ($vo.pay_status==1) AND ($vo.logistics_status==2)/}
						<!--不同状态订单-->
						<div class="order-status3">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">{$vo.out_trade_no}</a></div>
<!--								<span>商家：{$vo.merchant_id|merchantname}</span>-->
								<span>成交时间：{$vo.create_time}</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
								{volist name=":order($vo.merchant_id,$vo.out_trade_no)" id="vo2"}
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													6666666<img src="../images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p>{$vo2.product_id|productname}</p>
														<p class="info-little">
								{volist name=":orderformsalesattributevaluename($vo2.attributes,$vo2.id)" id="vo3"}
								 {$vo3.sales_attribute_value_id|orderformsalesattributename}：
                                 {$vo3.sales_attribute_value_id|salesattributevaluename};
                                 <br/>
								{/volist}</p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												{$vo2.price}
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>{$vo2.buy_count}
											</div>
										</li>	
									</ul>
								{/volist}

								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：{$vo.price}
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">交易成功</p>
												<p class="order-info"><a href="{:url('Personal/orderinfo',['merchant_id'=>$vo.merchant_id,'out_trade_no'=>$vo.out_trade_no])}">订单详情</a></p>
												<p class="order-info">
												<a href="https://www.kuaidi100.com/chaxun?com={:getlogistics1($vo.out_trade_no,$vo.merchant_id)}&nu={:getlogistics2($vo.out_trade_no,$vo.merchant_id)}" target="content">查看物流</a>
												</p>
											</div>
										</li>
										<li class="td td-change">
										<a href="{:url('Personal/deleteorder',['merchant_id'=>$vo.merchant_id,'out_trade_no'=>$vo.out_trade_no])}">
											<div class="am-btn am-btn-danger anniu">
												删除订单</div>
												</a>
										</li>
									</div>
								</div>
							</div>

						</div>
						{elseif ($vo.pay_status==-2) AND ($vo.logistics_status==0 OR $vo.logistics_status==1)/}
						<!--不同状态订单-->
						<div class="order-status3">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">{$vo.out_trade_no}</a></div>
<!--								<span>商家：{$vo.merchant_id|merchantname}</span>-->
								<span>成交时间：{$vo.create_time}</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
								{volist name=":order($vo.merchant_id,$vo.out_trade_no)" id="vo2"}
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													<img src="../images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p>{$vo2.product_id|productname}</p>
														<p class="info-little">{volist name=":orderformsalesattributevaluename($vo2.attributes,$vo2.id)" id="vo3"}
								 {$vo3.sales_attribute_value_id|orderformsalesattributename}：
                                 {$vo3.sales_attribute_value_id|salesattributevaluename};
                                 <br/>
								{/volist}</p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												{$vo2.price}
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>{$vo2.buy_count}
											</div>
										</li>	
									</ul>
								{/volist}

								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：{$vo.price}
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">退款中</p>
												<p class="order-info"><a href="{:url('Personal/orderinfo',['merchant_id'=>$vo.merchant_id,'out_trade_no'=>$vo.out_trade_no])}">订单详情</a></p>
												
											</div>
										</li>
										
									</div>
								</div>
							</div>

						</div>
						{/if}
                      {/volist}
					</div>

				</div>

			</div>
			<div class="am-tab-panel am-fade" id="tab2">

				<div class="order-top">
					<div class="th th-item">
						<td class="td-inner">商品</td>
					</div>
					<div class="th th-price">
						<td class="td-inner">单价</td>
					</div>
					<div class="th th-number">
						<td class="td-inner">数量</td>
					</div>
					<div class="th th-operation">
						<td class="td-inner">商品操作</td>
					</div>
					<div class="th th-amount">
						<td class="td-inner">合计</td>
					</div>
					<div class="th th-status">
						<td class="td-inner">交易状态</td>
					</div>
					<div class="th th-change">
						<td class="td-inner">交易操作</td>
					</div>
				</div>

				<div class="order-main">
					<div class="order-list">
					{volist name="order" id="vo"}
					{if $vo.pay_status==0}
						<div class="order-status1">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">{$vo.out_trade_no}</a></div>
<!--								<span>商家：{$vo.merchant_id|merchantname}</span>-->
								<span>成交时间：{$vo.create_time}</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
                                    {volist name=":order($vo.merchant_id,$vo.out_trade_no)" id="vo2"}
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													<img src="{$vo2.product_id|productpicture}" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p>{$vo2.product_id|productname}</p>
														<p class="info-little">
															<br/></p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												{$vo2.price}
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>{$vo2.buy_count}
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												
											</div>
										</li>
									</ul>
                                   {/volist}
<!--									这里是等待付款-->
								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：{$vo.price}
											<p>含运费：<span></span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">等待买家付款</p>
												<p class="order-info"><a href="#">取消订单</a></p>

											</div>
										</li>
										<li class="td td-change">
											<a href="pay.html">
											<div class="am-btn am-btn-danger anniu">
												一键支付</div></a>
										</li>
									</div>
								</div>

							</div>
						</div>
						{/if}
						{/volist}
					</div>

				</div>
			</div>
			<div class="am-tab-panel am-fade" id="tab3">
				<div class="order-top">
					<div class="th th-item">
						<td class="td-inner">商品</td>
					</div>
					<div class="th th-price">
						<td class="td-inner">单价</td>
					</div>
					<div class="th th-number">
						<td class="td-inner">数量</td>
					</div>
					<div class="th th-operation">
						<td class="td-inner">商品操作</td>
					</div>
					<div class="th th-amount">
						<td class="td-inner">合计</td>
					</div>
					<div class="th th-status">
						<td class="td-inner">交易状态</td>
					</div>
					<div class="th th-change">
						<td class="td-inner">交易操作</td>
					</div>
				</div>
<!--等待发货-->
				<div class="order-main">
					<div class="order-list">
						<div class="order-status2">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">1601430</a></div>
								<span>成交时间：2015-12-20</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													<img src="{$vo2.product_id|productpicture}" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p></p>
														<p class="info-little">
															<br/> </p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												333.00
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>2
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="refund.html">退款</a>
											</div>
										</li>
									</ul>

									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													99999<img src="../images/62988.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p> </p>
														<p class="info-little">
															<br/></p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												333.00
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>2
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="refund.html">退款</a>
											</div>
										</li>
									</ul>

									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													11111<img src="../images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p></p>
														<p class="info-little">
															<br/>包装：裸装 </p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												333.00
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>2
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="refund.html">退款</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：676.00
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">买家已付款</p>
												<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
											</div>
										</li>
										<li class="td td-change">
											<div class="am-btn am-btn-danger anniu">
												提醒发货</div>
										</li>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="am-tab-panel am-fade" id="tab4">
				<div class="order-top">
					<div class="th th-item">
						<td class="td-inner">商品</td>
					</div>
					<div class="th th-price">
						<td class="td-inner">单价</td>
					</div>
					<div class="th th-number">
						<td class="td-inner">数量</td>
					</div>
					<div class="th th-operation">
						<td class="td-inner">商品操作</td>
					</div>
					<div class="th th-amount">
						<td class="td-inner">合计</td>
					</div>
					<div class="th th-status">
						<td class="td-inner">交易状态</td>
					</div>
					<div class="th th-change">
						<td class="td-inner">交易操作</td>
					</div>
				</div>

				<div class="order-main">
					<div class="order-list">
						<div class="order-status3">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">1601430</a></div>
								<span>成交时间：2015-12-20</span>
								<!--    <em>店铺：小桔灯</em>-->
							</div>
							<div class="order-content">
								<div class="order-left">
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													222222<img src="../images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p></p>
														<p class="info-little">
															<br/>包装：裸装 </p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												333.00
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>2
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="refund.html">退款/退货</a>
											</div>
										</li>
									</ul>

									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													3333<img src="../images/62988.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p> </p>
														<p class="info-little">
															<br/></p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												333.00
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>2
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="refund.html">退款/退货</a>
											</div>
										</li>
									</ul>

								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：676.00
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">卖家已发货</p>
												<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
												<p class="order-info"><a href="logistics.html">查看物流</a></p>
												<p class="order-info"><a href="#">延长收货</a></p>
											</div>
										</li>
										<li class="td td-change">
											<div class="am-btn am-btn-danger anniu">
												确认收货</div>
										</li>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="am-tab-panel am-fade" id="tab5">
				<div class="order-top">
					<div class="th th-item">
						<td class="td-inner">商品</td>
					</div>
					<div class="th th-price">
						<td class="td-inner">单价</td>
					</div>
					<div class="th th-number">
						<td class="td-inner">数量</td>
					</div>
					<div class="th th-operation">
						<td class="td-inner">商品操作</td>
					</div>
					<div class="th th-amount">
						<td class="td-inner">合计</td>
					</div>
					<div class="th th-status">
						<td class="td-inner">交易状态</td>
					</div>
					<div class="th th-change">
						<td class="td-inner">交易操作</td>
					</div>
				</div>

				<div class="order-main">
					<div class="order-list">
						<!--等待评价	-->
						{volist name=}
					<div class="order-status4">
							<div class="order-title">
								<div class="dd-num">订单编号：<a href="javascript:;">1601430</a></div>
								<span>成交时间：2015-12-20</span>
							</div>
							<div class="order-content">
								<div class="order-left">
									<ul class="item-list">
										<li class="td td-item">
											<div class="item-pic">
												<a href="#" class="J_MakePoint">
													123123<img src="../images/kouhong.jpg_80x80.jpg" class="itempic J_ItemImg">
												</a>
											</div>
											<div class="item-info">
												<div class="item-basic-info">
													<a href="#">
														<p></p>
														<p class="info-little">
															<br/></p>
													</a>
												</div>
											</div>
										</li>
										<li class="td td-price">
											<div class="item-price">
												333.00
											</div>
										</li>
										<li class="td td-number">
											<div class="item-number">
												<span>×</span>2
											</div>
										</li>
										<li class="td td-operation">
											<div class="item-operation">
												<a href="refund.html">退款/退货</a>
											</div>
										</li>
									</ul>

								</div>
								<div class="order-right">
									<li class="td td-amount">
										<div class="item-amount">
											合计：676.00
											<p>含运费：<span>10.00</span></p>
										</div>
									</li>
									<div class="move-right">
										<li class="td td-status">
											<div class="item-status">
												<p class="Mystatus">交易成功</p>
												<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
												<p class="order-info"><a href="logistics.html">查看物流</a></p>
											</div>
										</li>
										<li class="td td-change">
											<a href="commentlist.html">
												<div class="am-btn am-btn-danger anniu creatAddr">
													评价商品</div>
											</a>
										</li>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</div>
</div>
<!--底部-->
{include file="public/footer" /}
</div>
{include file="public/menu" /}
</div>

</body>

</html>