  {include file="public/header" /}
<div class="main-content">
<div class="main-content-inner">
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="#">结算中心</a>
	</li>
	<li class="active">订单列表</li>
</ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
<div class="ace-settings-container" id="ace-settings-container">

	<div class="ace-settings-box clearfix" id="ace-settings-box">
		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<div class="pull-left">
					<select id="skin-colorpicker" class="hide">
						<option data-skin="no-skin" value="#438EB9">#438EB9</option>
						<option data-skin="skin-1" value="#222A2D">#222A2D</option>
						<option data-skin="skin-2" value="#C6487E">#C6487E</option>
						<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
					</select>
				</div>
				<span>&nbsp; Choose Skin</span>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
				<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
				<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
				<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
				<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
				<label class="lbl" for="ace-settings-add-container">
					Inside
					<b>.container</b>
				</label>
			</div>
		</div><!-- /.pull-left -->

		<div class="pull-left width-50">
			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
				<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
				<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
			</div>

			<div class="ace-settings-item">
				<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
				<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
			</div>
		</div><!-- /.pull-left -->
	</div><!-- /.ace-settings-box -->
</div><!-- /.ace-settings-container -->

<div class="page-header">
	<h1>
		结算中心
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			订单列表
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
			<!--startprint-->
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							
							
							<th class="center">结算月份</th>
							<th class="center">单数</th>
							
							<th class="center">结算金额</th>
							
							<th class="center">结算状态</th>
							<th class="center">操作</th>

							
						</tr>
					</thead>

					<tbody>
					{volist name="list" id="vo"}
						<tr>
							
                            <td class="center">
								<div class="action-buttons">
								 {$time|billtime}
								</div>
							</td>
							
							
							<td class="center">
								<div class="action-buttons">
								 {$sum}
								</div>
							</td>
							
							
							
                           
							<td class="center">
								<div class="action-buttons">
								 {$vo.price}
								</div>
							</td>
							
							<td class="center"><span class="label label-sm label-warning">{$vo.bill_status|billstatus}</span>
								
							</td>
							<td>
								<div class="hidden-sm hidden-xs btn-group">
                                    <a href="{:url('bill/billdetails')}" target="content">
									<button class="btn btn-success">详单</button>
									</a>
									 
                                 </div>   
							</td>
						</tr>
                         {/volist}
					</tbody>
				</table>
				{$list|raw}
				<!--endprint-->
			</div><!-- /.span -->
			
		</div><!-- /.row -->
		<button id="print2" onclick="doPrint()">打印表单</button>
		<div class="hr hr-18 dotted hr-double"></div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script>
function doPrint() {
bdhtml=window.document.body.innerHTML;
sprnstr="<!--startprint-->"; //开始打印标识字符串有17个字符
eprnstr="<!--endprint-->"; //结束打印标识字符串
prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17); //从开始打印标识之后的内容
prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr)); //截取开始标识和结束标识之间的内容
window.document.body.innerHTML=prnhtml; //把需要打印的指定内容赋给body.innerHTML
window.print(); //调用浏览器的打印功能打印指定区域
window.document.body.innerHTML=bdhtml; // 最后还原页面
}
</script>
<script>
$('input').blur(function(){
	//取值id
	var id=$(this).attr('attr-id');
	  //alert(id);
	  //获取排序的值
	var order=$(this).val();
	// alert(order);
	var postData={
	      'id':id,
	      'order':order,
	     };
	var url="{:url('Ad/listorder')}";
	$.post(url,postData,function(result){
      if(result.code==1){
      	location.href=result.url;
      }else{
      	alert(result.msg);
      }
	})
})